@media (min-width: 1237.7px) {
  .biggest {
    flex-direction: row;
  }

  .size {
    width: 60px;
    height: 70px;
    margin: 0;
  }
}

.top-bar {
  position: fixed;
  background-color: #011747f8;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  color: transparent;
  background-clip: text;
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 900;
}

.project-card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 2rem;
  width: 100%;
  /* Use full width */
  max-width: 500px;
  /* Limit maximum width */
  color: black;
}

.project-title {
  font-size: 1.875rem;
  /* 30px */
  line-height: 2.25rem;
  /* 36px */
  text-align: center;
  margin: 12px 0;
  padding-bottom:0.5rem;
}

.box {
  background-image: linear-gradient(to bottom right, #81D4FA, rgb(255, 215, 14), rgb(255 255 254));
  width: 100%;
  max-width: 380px;
  min-height: 450px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0px 5px 8px rgba(240, 200, 20, 50);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
}

.image {
  width: 100%;           /* Make the image take the full width of its container */
  height: 200px;          /* Set a fixed height for all images */
  object-fit: cover;      /* Ensures the image covers the area without stretching */
  border-radius: 0 2rem 0 2rem;
}

.description {
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  /* padding: 0.2rem; */
  /* text-wrap: balance; */
  overflow: auto;
  flex-grow: 1;
  text-align:justify;
  /* Allow description to grow */
}

.box:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 1);
}